<footer class="footer">
    <div class="footer-top">
        <div class="footer-col brand">
            <h3>Tollylab</h3>
            <p>Preserving Kolkata's analog soul, one frame at a time.</p>
        </div>

        <div class="footer-col links">
            <h4>Get Started</h4>
            <ul>
                <li><a href="#">Download App</a></li>
                <li><a href="#">New releases</a></li>
                <li><a href="#">Originals</a></li>
                <li><a href="#">Plans</a></li>
            </ul>
        </div>

        <div class="footer-col links">
            <h4>Account</h4>
            <ul>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Platform</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>

        <div class="footer-col links">
            <h4>Musician</h4>
            <ul>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
            </ul>
        </div>


    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Tollylab. Crafted in Kolkata 🎞️</p>
    </div>
</footer>